.todo-list {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 3rem 1rem;
    border: 1px solid #A35709;
    background-color: #242320;
    border-radius: 8px;
}

.list-item {
    border: 1px solid #A35709;
    padding: 10px 20px;
    border-radius: 4px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: relative;
}

.list-item img {
    cursor: pointer;
}

.update-delete {
    height: auto;
    width: auto;
    position: absolute;
    top:10px;
    right: 3.6rem;
    display: none;
}

.list-item:hover .update-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.info:hover + .update-delete {
    display: block;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .todo-list {
        width: 90%;
        padding: 2rem 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 767px) {
    .todo-list {
        width: 90%;
        padding: 1rem 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
}
